* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans',sans-serif;
}
.navbar {
    background-color: #c7c7c7;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #ff6d6d;
    background-image: linear-gradient(to top, #1100ff 0%, #ff0000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}
.fa-gem {
    margin-right: 8px;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #4c30c9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #4c30c9;
    color: white
}

.button:hover{
    background: #9c0fd4;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    color: #ff0000;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 26px;
    }
    #navbar_logo{
        padding-left: 25px;
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #4c30c9;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 32px;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_btn{
        padding-bottom: 32px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */

.main{
    background-color: #c7c7c7;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #d3d1d1;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content h1{
    font-size: 64px;
    background-color: #9c0fd4;
    background-image: linear-gradient(to top, #1100ff 0%, #ff0000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2{
    font-size: 64px;
    background-color: #9c0fd4;
    background-image: linear-gradient(to top, #9900ff 0%, #ff00ea 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p{
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
    color: #0000;
}

.main_btn{
    font-size: 32px;
    background-image: linear-gradient(to top, #2f00ff 0%, #b700ff 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 5px;
    color: #ffff;
    margin-top: 32px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a{
    position: relative;
    z-index: 2;
    color: #ffff;
    text-decoration: none;
}

.main_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #9c0fd4;
    transition: all 0.35s;
    border-radius: 5px;
}

.main_btn:hover{
    color: #ffff;
}

.main_btn:hover:after{
    width: 100%;
}

.main_img-container{
    text-align: center;
}

#main_img{
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 768px){
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main_content{
        text-align: center;
        margin-bottom: 64px;
    }

    .main_content h1{
        font-size: 40px;
        margin-top: 32px;
    }

    .main_content h2{
        font-size: 48px;
    }

    .main_content h1{
        font-size: 16px;
        margin-top: 24px;
    }

    @media screen and (max-width: 480px){

        .main_content h1{
            font-size: 32px;
            margin-top: 48px;
        }
    
        .main_content h2{
            font-size: 32px;
        }
    
        .main_content h1{
            font-size: 32px;
            margin-top: 24px;
        }

        .main_btn{
            padding: 12px 36px;
            margin: 40px 0;
        }

    }
    
}

/* Services Section CSS */

.services{
    background-color: #d3d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1{
    background-color: #4c30c9;
    background-image: linear-gradient(to right,
     #003cff 0%,
     #1900ff 20%,
     #6200ff 40%,
     #9900ff 60%,
     #e100ff 80%,
     #c300ff 100%);
    background-size: 100%;
    margin-bottom: 80px;
    font-size: 40px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services_card{
    margin: 16px;
    height: 525px;
    width: 400px;
    border-radius: 5px;
    background-image: -o-linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100%,
    url('/images/virtual_reality_boy.jpg'));
    background-size: cover;
    position: relative;
    color: #4c30c9;
}

.services_card:nth-child(2){
    background-image: -o-linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100%,
    url('/images/virtual_reality_girl.jpg'));
}

.services h2{
    position: absolute;
    top: 350px;
    left: 30px;
}

.services_card p{
    position: absolute;
    top: 400px;
    left: 30px;
}

.services_card button{
    color: #9c0fd4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #6200ff;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 16px;
    cursor: pointer;
}